<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="../../public/css/note-list.css">

        <!-- ==== TAILWIND   ==== -->
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <!-- ==== FONT AWESOME   ==== -->
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">

        <title>Pocket.me</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>


        </header>

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <i class='bx bx-layer nav__logo-icon'></i>
                        <span class="nav__logo-name"> <%= nickname %></span>
                    </a>

                    <div class="nav__list">
                        <a href="#" class="nav__link active">
                        <i class='bx bx-list-ul' ></i>
                            <span class="nav__name">Notas</span>
                        </a>
                    </div>
                </div>

                <a href="/logout" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Salir</span>
                </a>
            </nav>
        </div>
       <hr id="Welcome" style="padding-bottom: 40px; padding-top: 40px; "></hr>
<section class="card-list">

    <% notesArray.forEach(item=>{ %>
        <article class="card">
            <header class="card-header">
              <p class="date">Nov 18 2020</p>
              <h1><%= item.title %></h2>
            </header>
            <h4 class="notes"><%=item.note%></h4>
            <div class="card-author">
              <a class="author-avatar" href="#">
                <img src="../../public/img/FormUser/male_user.png" />
              </a>
              <svg class="half-circle" viewBox="0 0 106 57">
                <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
              </svg>
              <h3> <%= nickname %></h3>
            </div>
            <div class="tags">
              <form action="/notes/delete/<%= item.id %>?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="button"> <a href="/notes/edit/<%= item.id %>"> Editar</a></button>
                <button class="button" type="submit"> Borrar</button>
              </form>
            </div>
          </article>
    <% }) %>
</section>

<span class="inline-flex items-center shadow-sm">
    <a href="/notes/add" class="whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
      Agregar una nueva nota
    </a>
  </span>

        <!--===== MAIN JS =====-->
        <script src="../../public/js/note-list.js"></script>
    </body>
</html>
